:root {
  --font-family-base: 'Arial', 'Helvetica', sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 20px;
  --font-size-subheading: 18px;
  --font-size-base-print: 12pt;
  --font-size-heading-print: 16pt;
  --font-size-subheading-print: 14pt;
  --color-text: #000000;
  --color-text-light: #ffffff;
  --color-text-red: red;
  --color-background: #e9e9e9;
  --color-accent: #003366;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

h1, h2, h3 {
    font-size: var(--font-size-heading);
    color: var(--color-accent);
}

h4, h5 {
    font-size: var(--font-size-subheading);
    color: var(--color-text);
}
